:root {
    --sl-text-h1: 1.8rem;
    --sl-text-h2: 1.4rem;
    --sl-text-h3: 1.2rem;
    --sl-text-h4: 1rem;
}
:root[data-theme='light'] {
    --sl-color-text-accent: #322444;
}
:root[data-theme='light'] .right-sidebar-panel {
    --sl-color-text-accent: #8c1b4b;
}
.card-grid {
    --sl-text-h4: 1.5rem;
}
